<fieldset class="docall">
    <legend>Index Scan</legend>
    <div class="toolbar">
      <button type="button" class="save-button"><img src="./assets/scanner/save.png" alt="save"></button>
      <button type="button" ><img src="./assets/scanner/zoom-in.png" alt="zoomIn" ></button>
      <button type="button" ><img src="./assets/scanner/ZoomOut.png" alt="zoomOut" ></button>
      <button type="button" ><img src="./assets/scanner/Vertical.png" alt="vertical" ></button>
      <button type="button" ><img src="./assets/scanner/horizontal.png" alt="horizontal" ></button>
      <button type="button" ><img src="./assets/scanner/fullPage.png" alt="fullPage" ></button>
      <button type="button" ><img src="./assets/scanner/imgAsReal.png" alt="imgAsReal" ></button>
      <button type="button" ><img src="./assets/scanner/move-photo.png" alt="move-photo" ></button>
      <button type="button" ><img src="./assets/scanner/SelectableMoveable.png" alt="SelectableMoveable" ></button>
      <button type="button" ><img src="./assets/scanner/rotateLeft.png" alt="rotateLeft" ></button>
      <button type="button" ><img src="./assets/scanner/rotateRight.png" alt="rotateRight" ></button>
      <button type="button" ><img src="./assets/scanner/brightUp.png" alt="brightUp" ></button>
      <button type="button" ><img src="./assets/scanner/brightOriginal.png" alt="brightOriginal" ></button>
      <button type="button" ><img src="./assets/scanner/brightDown.png" alt="brightDown" ></button>
      <button type="button" ><img src="./assets/scanner/preview.png" alt="preview" ></button>
      <button type="button" ><img src="./assets/scanner/changeBlackWhite.png" alt="changeBlackWhite" ></button>
      <button type="button" ><img src="./assets/scanner/previousPage.png" alt="previous" ></button>
      <button type="button" ><img src="./assets/scanner/nextPage.png" alt="nextPage" ></button>
      <button type="button" ><img src="./assets/scanner/rotateLeftOriginal.png" alt="rotateLeftOriginal" ></button>
      <button type="button" ><img src="./assets/scanner/rotateRightOriginal.png" alt="rotateRightOriginal" ></button>
    </div>
</fieldset>