@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

legend {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #fdfdfd;
  background-color: #1f4396;
  border-radius: 10px;
  padding: 10px;
}

.dashed-border {
  border: 2px dashed #1f4396;
  border-radius: 10px;
  padding: 10px;
}

.centerside {
  color: #ffffff;
  font-family: "Sarabun", sans-serif;
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center;
  border-radius: 10px;
  border: 1px;
}

.docall {
  flex: 2;
  width: 700px;
  height: 1100px;
  border-radius: 20px;
  border: 3px solid #1f4396;
}
.docall1 {
  flex: 2;
  width: 700px;
  height: 260px;
  border-radius: 15px;
  border: 3px solid #1f4396;
  margin-top: 18px;
}

.blox {
  display: block;
  width: 100%; /* กำหนดความกว้างเป็น 49% ของพื้นที่ทั้งหมด */
  height: 700px; /* กำหนดความสูงคงที่ (fixed) */
  overflow-y: auto; /* ให้แสดงแถบเลื่อนเมื่อเนื้อหาเกิน */
  border-radius: 5px;
  border: 2px dashed #1f4396;
  margin: 1% auto; /* ปรับระยะห่างด้านบน/ล่าง 1% */
  color: #1f4396;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  position: relative;
}

/*  */

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.button-row1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 70px;
}
.button-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 70px;
}

.btn {
  background-color: #1f4396;
  color: #ffffff;
  border: 2px solid #2b5cab;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 5px;
  max-width: 200px; /* Adjust the max-width as needed */
  transition: transform 0.2s;
}

.btn:hover {
  background-color: #2b5cab;
  color: white;
  opacity: 50%;
}

.btn:active {
  animation: bounce 0.3s;
}

.btn-icon {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.btn-icon img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

@keyframes bounce {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}



/*  */


@media only screen and (max-width: 1920px)   {
  *{
    font-size: 22px;
  }
  .tree-checkbox{
    margin: 20px 50px;
  }

.headcheck{
  margin-top: 45px;
  }

  li{
    margin-left: 2rem;
  }
  li.head{
    margin-left: 2rem;
  }
  ul{
    line-height: 2em;
  }

  summary{
    cursor: pointer;
    outline: none;
    list-style: none;
  }
  summary p{
    margin-left: 0px;
  }
  summary p.texthead{
    margin-left: 30px;
  }
  .container:hover p.texthead{
    color: red;
  }

  .Completed{
    color: rgb(0, 196, 0);
  }
  .Pending{
    color: rgb(255, 47, 47);
  }

  summary::marker{
    z-index:-5;
  }
  summary::-webkit-details-marker  {
    display: none
  }

  summary label svg{
    display: block;
  }

  ul li{
    position: relative;
  }
  ul li::before{
    position: absolute;
    left: -20px;
    top: -7px;
    border-bottom: 2px solid rgb(37, 37, 37);
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 20px;
    height: 1.4em;
  }
  ul li::after{
    position: absolute;
    left: -20px;
    bottom: 0px;
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 10px;
    height: 100%;
  }

  ul li:last-child::after{
    display: none;
  }


  .Folder{
    margin-left: 30px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-left: 35px;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    margin-top: 0.75rem;
    border: 2px solid rgb(0, 60, 255);
  }
  input:checked + .checkmark{
    border: 2px solid rgb(0, 196, 0);;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f8f8f8;
  }


  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(0, 211, 0);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}



@media only screen and (max-width: 1440px) {
  *{
    font-size: 14px;
  }
  .tree-checkbox{
    margin: 20px 30px;
  }

.headcheck{
  margin-top: 28px;
  }

  li{
    margin-left: 2rem;
  }
  li.head{
    margin-left: 1.75rem;
  }
  ul{
    line-height: 2em;
  }

  summary{
    cursor: pointer;
    outline: none;
    list-style: none;
  }
  summary p{
    margin-left: 0px;
  }
  summary p.texthead{
    margin-left: 30px;
  }
  .container:hover p.texthead{
    color: red;
  }

  .Completed{
    color: rgb(0, 196, 0);
  }
  .Pending{
    color: rgb(255, 47, 47);
  }

  summary::marker{
    z-index:-5;
  }
  summary::-webkit-details-marker  {
    display: none
  }

  summary label svg{
    display: block;
  }

  ul li{
    position: relative;
  }
  ul li::before{
    position: absolute;
    left: -20px;
    top: -7px;
    border-bottom: 2px solid rgb(37, 37, 37);
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 20px;
    height: 1.4em;
  }
  ul li::after{
    position: absolute;
    left: -20px;
    bottom: 0px;
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 10px;
    height: 100%;
  }

  ul li:last-child::after{
    display: none;
  }


  .Folder{
    margin-left: 30px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-left: 20px;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;

    border-radius: 50%;
    margin-top: 0;
    border: 2px solid red;
  }
  input:checked + .checkmark{
    border: 2px solid rgb(0, 196, 0);;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f8f8f8;
  }


  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(0, 211, 0);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}



@media only screen and (max-width: 1024px){
  *{
    font-size: 12px;
  }
  .tree-checkbox{
    margin: 20px 20px;
  }


.headcheck{
  margin-top: 28px;

  }

  li{
    margin-left: 2rem;
  }
  li.head{
    margin-left: 1.75rem;
  }
  ul{
    line-height: 2em;
  }

  summary{
    cursor: pointer;
    outline: none;
    list-style: none;
  }
  summary p{
    margin-left: 0px;
  }
  summary p.texthead{
    margin-left: 30px;
  }
  .container:hover p.texthead{
    color: red;
  }

  .Completed{
    color: rgb(0, 196, 0);
  }
  .Pending{
    color: rgb(255, 47, 47);
  }

  summary::marker{
    z-index:-5;
  }
  summary::-webkit-details-marker  {
    display: none
  }

  summary label svg{
    display: block;
  }

  ul li{
    position: relative;
  }
  ul li::before{
    position: absolute;
    left: -20px;
    top: -7px;
    border-bottom: 2px solid rgb(37, 37, 37);
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 20px;
    height: 1.4em;
  }
  ul li::after{
    position: absolute;
    left: -20px;
    bottom: 0px;
    border-left: 2px solid rgb(37, 37, 37);
    content: "";
    width: 10px;
    height: 100%;
  }

  ul li:last-child::after{
    display: none;
  }


  .Folder{
    margin-left: 30px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-left: 35px;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  /* Hide the browser's default checkbox */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid red; /* Default border color */
    background-color: white; /* Default background color */
  }

  input:checked + .checkmark {
    border: 2px solid rgb(0, 196, 0);
    background-color: rgb(0, 211, 0);
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f8f8f8;
  }


  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(0, 211, 0);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

