@media only screen and (max-width: 1920px)   {
  .display-box {
    margin-top: 20px;
    border-radius: 5px;
    width: 1200px;
    height: 1150px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  .fitWindow {
    margin-left: 0;
    margin-top: 5px;
    width: 45rem;
  }

  .fitSc {
    margin-left: 70px;
    margin-top: 10px;
    width: 35rem;
  }

  img {
    width: 850px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1680px){
  .display-box{
    border-radius: 10px;
    width: 40rem;
    height: 50rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
    overflow-y: auto;
  }
  .fitWindow{
    margin-left: 0;
    margin-top: 5px;
    width: 40rem;
    }
    .fitSc{
      width: 35rem;
      margin-left: 50px;
      margin-top: 10px;
    }
    img{
    width: 35rem;
    margin-left: 50px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1440px){
  .display-box{
    border-radius: 10px;
    width: 35rem;
    height: 40rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
    overflow-y: auto;
  }
  .fitWindow{
    margin-left: 0;
    margin-top: 5px;
    width: 35rem;
    }
    .fitSc{
      width: 27rem;
      margin-left: 60px;
      margin-top: 10px;
    }
    img{
    width: 27rem;
    margin-left: 60px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1280px){
  .display-box{
    border-radius: 10px;
    width: 30rem;
    height: 35rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
    overflow-y: auto;
  }
  .fitWindow{
    margin-left: 0;
    margin-top: 5px;
    width: 30rem;
    }
    .fitSc{
      width: 23rem;
      margin-left: 50px;
      margin-top: 10px;
    }
    img{
    width: 23rem;
    margin-left: 50px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1024px){
  .display-box{
    border-radius: 10px;
    width: 20rem;
    height: 32rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: hidden;
    overflow-y: auto;
  }
  .fitWindow{
    margin-left: 0;
    margin-top: 5px;
    width: 20rem;
    }
    .fitSc{
      width: 16rem;
      margin-left: 30px;
      margin-top: 18px;
    }
    img{
    width: 16rem;
    margin-left: 30px;
    margin-top: 18px;
  }
}


.top-bar{
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #1254B9;
}
p{
  color: white;
  text-align: center;
}

