<form class="forms">
    <fieldset class="search-section">
        <legend>การเปลี่ยนแปลงความเป็นเจ้าของของเอกสาร</legend>
        <select class = "docfind-select" id="document-type">
        <option>---------------------------</option> 
            </select>

        <br>
        <div class="scrollable">
            <table>
                <thead>
                    <tr>
                      <th><img src="./assets/checker/selectors.png" alt="selectors" class="button-icon">เลือก</th>
                      <th><img src="./assets/checker/document number.png" alt="document number" class="button-icon">รหัสเอกสาร</th>
                      <th><img src="./assets/checker/document english.png" alt="document english" class="button-icon">ชื่อหน่วยงาน (อังกฤษ)</th>
                      <th><img src="./assets/checker/document thai.png" alt="document thai" class="button-icon">ชื่อหน่วยงาน (ไทย)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
                <tbody>
                    <tr >
                        <td>
                            <input type="checkbox">
                          </td>
                        <td>1234</td>
                        <td>ADMINISTRATION</td>
                        <td>อำนวยการ</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>
<mat-dialog-actions class = "rightside">
    <div class = "rightside">
        <button type="button" class="rightside" (click)="copycaseinfopast()"><img src="./assets/checker/correct.png" alt="correct" class="button-icon">ตกลง</button>
<button type="button" class="rightside" (click)="openClose()"><img src="./assets/checker/incorrect.png" alt="incorrect" class="button-icon">ยกเลิก</button>

</div>
</mat-dialog-actions>