<div class="button-container">
    <button mat-button color="primary"><mat-icon>skip_next</mat-icon>Batch ถัดไป</button>
    <div class="separator"></div>
    <button mat-button color="primary"><mat-icon>playlist_add_check_circle</mat-icon>ยอมรับ Batch</button>
    <div class="separator"></div>
    <button mat-button color="warn" ><mat-icon>settings_backup_restore</mat-icon>ส่งกลับเพื่อ Scan ใหม่</button>
    <div class="separator"></div>
    <button mat-button color="warn"><mat-icon>settings_backup_restore</mat-icon>ส่งกลับเพื่อลงทะเบียนใหม่</button>
    <div class="separator"></div>
    <button mat-button color="warn"><mat-icon>exit_to_app</mat-icon>ออกจากระบบ</button>
  </div>