.main-content{
  margin-top: 20px;
}

legend {
    font-weight: bold;
    font-family: "Sarabun", sans-serif;
    color: #fdfdfd;
    background-color: #1f4396;
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
  }
  
  .docall {
    flex: 2;
    width: 850px;
    height: 670px;
    border-radius: 20px;
    border: 3px solid #1f4396;
  }

  /*  */

  .button-container{
    margin-left: 730px;
  }

  .btn-search{
    margin-top: 5px;
    width: 120px;
    height: 50px;
    padding-bottom: 10px;
    background-color: #1f4396;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    float: left; /* or right, depending on your layout needs */
    font-size: 20px;
  }

  .btn-search:hover{
    background-color: #fd7f7f;
    transform: scale(1.1); /* Example: scale up on hover */
  }

  /*  */

  label{
    font-size: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-group label {
    flex: 0 0 150px;
    margin-right: 50px;
  }
  
  .input-with-checkbox {
    position: relative;
    width: 100%;
  }
  
  .form-control {
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    width: 600px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 40px; /* space for checkbox */
  }
  
  .form-checkbox {
    position: absolute;
    left: 60px;
    top: 65%;
    transform: translateY(-50%);
    margin: 0;
    width: 20px;
    height: 20px;
  }
  
  