<div class="button-container">
  <button mat-button color="primary"><mat-icon>qr_code</mat-icon>สร้าง Batch</button>
  <button mat-button color="primary"><mat-icon>library_books</mat-icon>สร้าง Case</button>
  <button mat-button color="primary" (click)="generateBatchId()"><mat-icon>playlist_add_check_circle</mat-icon>ยอมรับ Batch</button>
  <button mat-button color="primary" (click)="openViewBatchDialog()"><mat-icon>document_scanner</mat-icon>ดู Batch</button>
  <button mat-button color="primary"><mat-icon>local_print_shop</mat-icon>พิมพ์ Batch ซ้ำ</button>
  <button mat-button color="warn"><mat-icon>cancel</mat-icon>ยกเลิก Batch</button>
  <button mat-button color="primary"><mat-icon>save_alt</mat-icon>บันทึก Case</button>
</div>