<div class="main-content">
  <div class="sidebar">
    <fieldset class="docall">
      <legend>ข้อมูล Case</legend>
      <div class="form-container">
        <div class="form-row">
          <div class="form-group">
            <label for="als-no-al" class="txt-t">ALS No. (AL) :</label>
            <input type="text" id="als-no-al">
          </div>
          <div class="form-group">
            <label for="day-account-no">เลขที่บัญชีกระแสรายวัน :</label>
            <input type="text" id="day-account-no">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="als-no-ac">ALS No. (AC) :</label>
            <input type="text" id="als-no-ac">
          </div>
          <div class="form-group">
            <label for="lg-no">LG/Aval/Accept No. :</label>
            <input type="text" id="lg-no">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="teletrade-no">Teletrade No. / Equation No. :</label>
            <input type="text" id="teletrade-no">
          </div>
          <div class="form-group">
            <label for="inter-lg-no">Inter LG No. / Stand By LC No:</label>
            <input type="text" id="inter-lg-no">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="rm-no">RM No. :</label>
            <input type="text" id="rm-no">
          </div>
          <div class="form-group">
            <label for="id-no">เลขที่บัตรประชาชน / เลขทะเบียนพาณิชย์ :</label>
            <input type="text" id="id-no">
          </div>
        </div>
        <div class="form-row full-width">
          <div class="form-group customer-name-group">
            <label for="customer-name">ชื่อลูกค้า</label>
            <input type="text" id="customer-name">
          </div>
        </div>
        <div class="button-container">
          <button class="ok">ตกลง</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>