<div class="flex items-center bg-blue-900 text-white p-3 rounded-t-lg">
    <h2 class="text-xl font-bold">Add Remark</h2>
</div>
<div class="p-8 bg-white rounded-lg shadow-lg">
    <div class="mb-4">
        <label for="batch-number" class="text-gray-700 px-4">ปัญหาที่ส่งกลับ</label>
        <select id="batch-number" type="text" class="border 
        border-blue-900 rounded-lg p-2" style="width: 400px;"> 
            <option value="">กรุณาเลือก</option>
            <option value="1">Customer data incorrect or misidentified</option>
            <option value="2">Incorrectly identified document type</option>
            <option value="3">Number of pages is not correct</option>
            <option value="4">Inappropritate use of document copy function</option>
            <option value="5">File Source data (strong / file room / etc.) is incorrect</option>
            <option value="6">Other</option>
        </select>
    </div>
    <div class="p-4 border-t border-blue-900 bg-gray-100">
        <textarea class="w-full h-32 border border-gray-300 
        rounded-lg p-3 outline-none resize-none placeholder-gray-400" 
        placeholder="Text Box Input"></textarea>
    </div>

<div class="flex justify-end mt-4 space-x-4">
    <button class="bg-lime-300 text-gray-900 font-bold py-2 px-4 rounded">ตกลง</button>
    <button (click)="onCancel()" class="bg-red-500 text-white py-2 px-4 rounded">ยกเลิก</button>
</div>