<div class="example-form mt-10 p-4 custom-border">
  <div class="scrollable-content mb-8 bg-white border border-gray-300 rounded"> 
    <div class="bg-blue-600 text-white p-4 text-left rounded-t">
      <h1>สร้างรายการเอกสารโดยกลุ่มเอกสาร Case</h1>
    </div>

    <div class="text-center p-4"> 
      <button (click)="openCreateByG()" class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-20 rounded border border-blue-900">
        รายงานเอกสาร
      </button>
    </div>
  </div>
</div>
