<mat-toolbar class="mat-elevation-z3">
  <a href="signin">
      <img src="assets/toolbar/bangkok_bank.png" alt="BangkokBank" class="toolbar-image" id="shift-right">
  </a>
  <div class="title-container">
    <div class="title">
      <h1>Index</h1>
    </div>
  </div>
  <div class="spacer"></div>
  </mat-toolbar>

  <div class="head-index-container">
    <app-head-index></app-head-index>
  </div>

  <div class="document-list-container">
  <app-doucument-list-index></app-doucument-list-index>
  <app-scan-index-system></app-scan-index-system>
  </div>
<app-side-bar >
