<h1 mat-dialog-title class = "fonts">Add Remarks</h1>
<mat-dialog-content class="resizable-dialog">
    <fieldset class = "gridtype">
        <legend class = "white">หมายเหตุ</legend>
        <div class = "form-sectionss">
            <textarea class="font" id=""></textarea> 
        </div>
      </fieldset>
</mat-dialog-content>
<mat-dialog-actions class = "rightside">
    <div class = "rightside">
        <button type="button" class="rightside" (click)="copycaseinfopast()"><img src="./assets/checker/correct.png" alt="correct" class="button-icon">ตกลง</button>
<button type="button" class="rightside" (click)="openClose()"><img src="./assets/checker/incorrect.png" alt="incorrect" class="button-icon">ยกเลิก</button>

</div>
</mat-dialog-actions>
