<mat-toolbar class="mat-elevation-z3">
  <a href="signin">
    <img
      src="assets/toolbar/bangkok_bank.png"
      alt="BangkokBank"
      class="toolbar-image"
      id="shift-right"
    />
  </a>
  <div class="title-container">
    <div class="title">
      <h1>Registration</h1>
    </div>
  </div>
  <div class="spacer"></div>
</mat-toolbar>

  <!-- head-regis -->
  <div class="head-regis-container">
    <app-head-regis></app-head-regis>
  </div>

<div class="container">
  <div class="regis-process">
    <!-- ข้อมูล batch -->
    <app-info-batch></app-info-batch>
    <!-- ข้อมูลเคส -->
    <div class="create-by-case">
      <app-create-by-case></app-create-by-case>      
    </div>
  </div>
  <!-- รายการเอกสาร -->
  <app-table-case></app-table-case>
</div>

<app-side-bar> </app-side-bar>
