.docall {
  flex: 2;
  width: 1200px;
  height: 1400px;
  border-radius: 20px;
  border: 3px solid #1f4396;
  margin-left: 15px;
}

legend {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #fdfdfd;
  background-color: #1f4396;
  border-radius: 10px;
  padding: 10px;
}

.toolbar {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #dbdbdb;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  width: 1025px;
}
.toolbar button {
  width: 50px;
  height: 50px;
  background-color: #1f4396;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s; /* Slightly smoother transition */
  padding: 10px;
  margin-right: 5px;
  opacity: 90%;
}
.toolbar button img {
  width: 40px;
  height: 40px;
}
.toolbar button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
  background-color: #ff0000; /* สีเหลือง */
  color: #1f4396;
}
.toolbar button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
  background-color: rgb(204, 204, 229); /* สีเหลือง */
  color: #ffffff;
}

.toolbar .save-button {
  margin-right: 35px; /* Increase the right margin for the save button */
}

.displayCurrent{
  text-align: center;
}