<div class="main-content">
  <div class="sidebar">
    <fieldset class="docall">
      <legend>รายการ Case</legend>
      <div class="button-container">
        <div class="button-container-1">
          <button mat-stroked-button (click)="selectAll()">เลือกทั้งหมด</button>
          <button mat-stroked-button (click)="unselectAll()">
            ยกเลิกการเลือกทั้งหมด
          </button>
          <button mat-stroked-button color="warn">ยกเลิกรายการเอกสาร</button>
        </div>
        <div class="button-container-2">
          <button mat-stroked-button (click)="opensearchTcase()">ค้นหา</button>
          <button mat-stroked-button (click)="openCopyReplaceDialog()">
            Cppy / Replace
          </button>
          <button mat-stroked-button (click)="openTbatchInfo()">
            ข้อมูล Batch
          </button>
          <button mat-stroked-button (click)="openAddRemarkDialog()">
            หมายเหตุ
          </button>
          <button mat-stroked-button (click)="openHistoryRemarkDialog()">
            รายละเอียดหมายเหตุ
          </button>
        </div>
      </div>

      <div>
        <table>
          <thead>
            <tr>
              <th>
                <div>
                  <img src="./assets/regis/sort.png" alt="sort" />
                  ลำดับ
                </div>
              </th>
              <th>
                <div>
                  <img src="./assets/regis/check.png" alt="check" />
                  เลือก
                </div>
              </th>
              <th>
                <div>
                  <img src="./assets/regis/copy.png" alt="copy" />
                  Copy
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  Replace
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  รหัสเอกสาร
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  ชื่อเอกสาร (อังกฤษ)
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  ชื่อเอกสาร (ไทย)
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  แหล่งที่มา
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  จำนวนหน้า
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  Strong/File Room
                </div>
              </th>
              <th>
                <div>
                  <img src="path_to_your_icon.png" alt="View Icon" />
                  View
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of shareItems; let i = index">
              <td class="share-pages">{{ i + 1 }}</td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="items.selected"
                  class="form-checkbox"
                />
              </td>
              <td>
                <input type="checkbox" />
              </td>
              <td>
                <input type="checkbox" class="form-checkbox" />
              </td>
              <td>{{ items.mdoc_PK_DOCUMENTCODE }}</td>
              <td>{{ items.mdoc_DESCRIPTIONENG }}</td>
              <td>{{ items.mdoc_DESCRIPTIONLNG }}</td>
              <td>
                <select class="form-select">
                  <option value="Paper">Paper</option>
                  <option value="Copy">Copy</option>
                  <option value="Replace">Repository</option>
                  <option value="Replace">Import</option>
                </select>
              </td>
              <td>{{ items.mdoc_NOOFPAGES }}</td>
              <td>{{ items.mdoc_STORETYPE }}</td>

              <td>
                <button mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="flex justify-center items-center bg-white p-4 border-t border-blue-500"
      >
        <div class="flex items-center">
          <button mat-icon-button (click)="goToPreviousPage()">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
