@tailwind base;
@tailwind components;
@tailwind utilities;

.table-case-container {
    border: 1px solid #3B82F6; /* blue-500 */
    border-radius: 0.375rem; /* rounded */
  }

  .container {
    max-width: 1440px; /* Adjust the max-width to your desired perfect length */
    margin: 0 auto;
  }
  
  .table-container {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #1E3A8A;
    text-align: center;
  }
  
  th {
    white-space: nowrap; /* Prevents text from wrapping in the header */
  }
  
  td {
    white-space: nowrap; /* Prevents text from wrapping in the cells */
  }
  
  thead {
    background-color: #1E3A8A;
    color: white;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #F1F5F9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #E2E8F0;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: white;
    border-top: 1px solid #1E3A8A;
  }
  
  .pagination-controls button {
    margin: 0 8px;
  }
  
  /* Add specific widths for columns */
  .col-id {
    width: 5%;
  }
  
  .col-select {
    width: 5%;
  }
  
  .col-copy, .col-replace {
    width: 10%;
  }
  
  .col-docCode, .col-docNameEn, .col-docNameTh, .col-docSource, .col-pages, .col-room {
    width: 15%;
  }
  
  .col-view {
    width: 10%;
  }
  
  .custom-dialog-container {
    display: flex;
    flex-direction: column;
    max-height: 90vh; /* Adjust based on your needs */
    overflow-y: auto;
  }