.title-container {
  margin-top: 40px;
}

.title {
  position: absolute;
  left: 2%;
  transform: translateY(-50%);
}

.title h1 {
  font-size: 2rem; /* Adjust the font size as needed */
}

.spacer {
  flex: 1 1 auto;
}

.search-process {
  display: flex;
  justify-content: flex-start; /* Aligns items to the right */
  gap: 16px; /* Adds space between the regis-process */
  padding: 16px; /* Adds padding around the container */
}
