<div class="main-content">
  <div class="sidebar">
    <fieldset class="docall">
      <legend>ข้อมูล Batch</legend>
      <div class="form-container">
        <div class="form-group">
          <div class="batch-info">
            <label for="batchId" class="batch-num">เลขที่ Batch :</label>
            <input id="batchId" matInput [readonly]="true" [formControl]="batchIdControl" placeholder="เลขที่ Batch"/>
          </div>
          <label class="custom-checkbox checkbox-group-btwCase">
            <input type="checkbox" id="between-cases">
            <span class="checkmark"></span>
            <div class="txt-check">ใช้ในคั่นระหว่าง Case</div>
          </label>
        </div>
        <div class="form-group">
          <label class="custom-checkbox checkbox-group">
            <input type="checkbox" id="new-registration">
            <span class="checkmark"></span>
            <div class="txt-check">กลับมาลงทะเบียนใหม่</div>
          </label>
          <label class="custom-checkbox checkbox-group-btwDoc">
            <input type="checkbox" id="between-docs">
            <span class="checkmark"></span>
            <div class="txt-check">ใช้ในคั่นระหว่างเอกสาร</div>
          </label>
        </div>
        <div class="button-container">
          <button class="ok">ตกลง</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<app-info-case></app-info-case>
