<div class="main-content">
  <div class="sidebar">
    <fieldset class="docall">
      <legend>สร้างรายการเอกสารโดย Case</legend>
      <div>
        <div class="my-4 inline-elements">
          <label for="productType">ประเภทผลิตภัณฑ์:</label>
          <div class="s-m-productType">
            <select id="productType" class="s-productType"
            (change)="onDocSelectChangeProduct($event)">
              <option disabled selected value> -- กรุณาเลือกประเภทผลิตภัณฑ์ -- </option>
              <option *ngFor="let mdocProductTypeOption of productType" [value]="mdocProductTypeOption.mprd_PK_PRODUCTCODE">
                {{ mdocProductTypeOption.mprd_DESCRIPTIONLNG }}
              </option>
            </select>
          </div>
        </div>
        <div class="my-4 inline-elements">
          <label for="jobType">ประเภทงาน:</label>
          <div class="s-m-jobType">
            <select id="jobType" class="s-jobType" (change)="onDocSelectChangeTransaction($event)">
              <option disabled selected value> -- กรุณาเลือกประเภทงาน -- </option>
              <option *ngFor="let mdocTransactionListOption of TransactionList" [value]="mdocTransactionListOption.mtrn_PK_TRANSACTIONCODE">
                {{ mdocTransactionListOption.mtrn_DESCRIPTIONLNG }}
              </option>
            </select>
          </div>
          <button type="button" class="add-jobType" (click)="addItemtoMainTable()">เพิ่ม</button>
        </div>
        <hr class="hr" />
        <div class="inline-elements">
          <label class="custom-checkbox checkbox-group">
            <input type="checkbox" id="add-docCustom" />
            <span class="checkmark"></span>
            <div class="txt-check">เพิ่มเอกสารลูกค้า</div>
          </label>
        </div>
        <div class="inline-elements">
          <label for="customerType">ประเภทลูกค้า:</label>
          <div class="s-m-customerType">
            <select id="customerType" class="s-customerType" (change)="onDocSelectChange($event)">
              <option disabled selected value> -- กรุณาเลือกประเภทลูกค้า -- </option>
              <option *ngFor="let mdocCustTypeOption of mDocCustType" [value]="mdocCustTypeOption.mcustty_PK_CUSTOMERTYPE">
                {{ mdocCustTypeOption.mcustty_DESCRIPTION }}
              </option>
            </select>
          </div>
          <button type="button" class="add-customerType" (click)="addItemtoMainTable()">เพิ่ม</button>
        </div>
        <hr class="hr" />
        <div class="s-add-doc">
          <button (click)="openAddDocDialog()" class="add-doc">
            เพิ่มเอกสาร
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<fieldset class="docall1">
  <legend>สร้างรายการเอกสารโดยกลุ่มเอกสาร Case</legend>
  <div class="s-report-doc">
    <button (click)="openCreateByG()" class="report-doc">รายงานเอกสาร</button>
  </div>
</fieldset>